<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-fluid p-0">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav fs-5">
                <li class="nav-item nav p-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link text-white" routerLink="/">Home</a>
                </li>
                <li class="nav-item nav p-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link text-white" routerLink="/equipment-simulator">Equipment Simulator</a>
                </li>
                <li class="nav-item nav p-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link text-white" routerLink="/builds-benchmarks">Builds and Benchmarks</a>
                </li>
                <li class="nav-item nav p-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link text-white" routerLink="/guides">Guides</a>
                </li>

                <li class="nav-item nav dropdown p-1">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item nav" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link text-white" routerLink="/faq">FAQ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>