<div class="bg-dark text-white">
    <div class="text-center">
        <ul class="list-inline pt-3">
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink="/">Home</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink="/equipment-simulator">Equipment Simulator</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink="/builds-benchmarks">Builds and Benchmarks</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink="/guides">Guides</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink="/faq">FAQ</a>
            </li>
        </ul>
    </div>

    <div class="p-3 container-fluid text-center footer-band">
        <p class="m-0">2023 Equipment Simulator for Lords Mobile</p>
    </div>
</div>