<div class="text-white fg-colour">
    <div class="text-center">
        <ul class="list-inline pt-3">
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink={{HOME_PATH}}>Home</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink={{SIMULATOR_PATH}}>Equipment Simulator</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink={{BENCHMARKS_PATH}}>Builds and Benchmarks</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink={{GUIDES_PATH}}>Guides</a>
            </li>
            <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="link underline p-1" routerLink={{FAQ_PATH}}>FAQ</a>
            </li>
        </ul>
    </div>

    <div class="p-3 container-fluid text-center fg-colour">
        <p class="m-0">2023 Equipment Simulator for Lords Mobile</p>
    </div>
</div>