.equipmentSize {
    width: 100px;
    height: 100px;
}

.jewelSize {
    width: 33px;
    height: 33px;
}

.equipmentButton {
    cursor: pointer;
}
    .equipmentButton:hover {
        opacity: 0.5;
    }