.image-parallelogram {
-webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.image-properties {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55vh;
}

.fadeInBottom {
    animation-name: fadeInBottom;
    animation-duration: 1s;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY();
    }
}

.big-text {
    font-size: 3vw;
}

.text-gradient {
    background-color: rgb(230,171,31);
    background-image: linear-gradient(45deg, rgba(230,171,31,1) 0%, rgba(207,130,30,1) 50%, rgba(201,30,30,1) 100%) !important;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.text-trans {
    transform: translate(4vw, 10vh);
    max-width: 800px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5px;
}