.center-img {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-43%, -55%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../../assets/Images/Equipment/centerHero.png);
    width: 550px;
    height: 650px;
}

@media (max-width: 1000px) {
    .hidden-hero-mobile {
      display: none;
    }
}

@media (min-width: 768px) and (max-width: 1920px) {
    .fixed-on-md {
        position: fixed;
        top: 10%;
        left: 80%;
    }
}

@media (max-width: 767px) {
    .collapse-on-sm {
      position: flex !important; 
    }
}

.modal-img-size {
    width: 60px;
    height: 60px;
}

.ml-20 {
    margin-left: 20%;
}

.flex-settings {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
}

.white {
    background-color: #9E9E9E;
    height: 30px;
}

.green {
    background-color: #3C9E09;
    height: 30px;
}

.blue {
    background-color: #2D5DC3;
    height: 30px;
}

.purple {
    background-color: #7245A4;
    height: 30px;
}

.purple-conic-gr {
    background: repeating-conic-gradient(  #9768BC 30%,  #7245A4 35%,  #9768BC 45%);
}

.gold {
    background-color: #D1A500;
    height: 30px;
}

.gold-conic-gr {
    background: repeating-conic-gradient(  #D1A500 30%,  #BC8800 35%,  #D1A500 45%);
}

.orange {
    background-color: #BC5A00;
    height: 30px;
}

.orange-conic-gr {
    background: repeating-conic-gradient(  #DC6700 30%,  #C04900 35%,  #DC6700 45%);
}

.button-border {
    border: 1px solid black;
}

.rarityButton {
    width: 100px;
    color: white;
}

button:hover {
    opacity: 0.5;
}

/* DEBUG */
.debug-size {
    width: 350px;
    height: 700px;
}