.center-img {
    position: absolute;
    /* top: 50%; */
    /* transform: translate(-43%, -55%); */
    left: 47%;
    transform: translate(-43%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../../assets/Images/Equipment/centerHero.png);
    width: 550px;
    height: 650px;
}

@media (min-width: 768px) {
    .fixed-on-md {
        position: fixed;
        top: 10%;
        left: 80%;
    }
}

@media (max-width: 767px) {
    .collapse-on-sm {
      position: flex !important; 
    }
}

.modal-img-size {
    width: 60px;
    height: 60px;
}

.ml-20 {
    margin-left: 20%;
}

.flex-settings {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
}

.purple {
    background-color: #7245A4;
    height: 30px;
}

.gold {
    background-color: #D1A500;
    height: 30px;
}

.orange {
    background-color: #BC5A00;
    height: 30px;
}

.rarityButton {
    width: 100px;
    color: white;
}

button:hover {
    opacity: 0.5;
}

/* DEBUG */
.debug-size {
    width: 350px;
    height: 700px;
}