<div class="viewport-height bg-dark bg-gradient-to-br from-neutral-800 to-neutral-900">

    <!-- Breadcrumb -->
    <div class="fg-colour box-shadow">
        <div class="breadcrumb-wrapper p-1">
            <nav class="ps-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link underline" routerLink={{HOME_PATH}}>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Equipment Simulator</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- Equipment Slots -->
    <div class="d-flex mt-3">
        <div class="container">
            <div class="row">
                <div class="row p-4">
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[0]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[1]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[2]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[3]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[4]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[5]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[6]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-evenly">
                        <app-equipment-slot 
                            [equipmentSlot]="equipmentSlotList[7]"
                            (equipmentSelectEvent)="getEquipmentInfo($event)">
                        </app-equipment-slot>
                    </div>
                </div>
        
                <!-- DEBUG
                TODO: REMOVE DEBUG CLASS AND FIX SIZE/RESPONSIVE POSITION -->
                <!-- Stats Window -->
                <div class="container d-flex justify-content-center">
                    <div class="fg-colour b-rounded debug-size mt-4 me-4 mb-4 collapse-on-sm fixed-on-md">
                        <p class="text-white ps-2 fs-5">Stats:</p>
                        <p class="text-white ps-2">{{ stats }}</p>
                    </div>  
                </div>
                
            </div>
        </div>

        <!-- Hero Image -->
        <div class="center-img mg-z img-fluid hidden-hero-mobile"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="equipmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white">{{type}}</h5>

                <div class="ml-20">
                    <div class="d-flex">
                        <button type="button" class="btn purple rarityButton box-shadow-two d-flex align-items-center justify-content-center m-1" (click)="changeRarity('Epic')">Epic</button>
                        <button type="button" class="btn gold rarityButton box-shadow-two d-flex align-items-center justify-content-center m-1" (click)="changeRarity('Legendary')">Legendary</button>
                        <button type="button" class="btn orange rarityButton box-shadow-two d-flex align-items-center justify-content-center m-1" (click)="changeRarity('Mythic')">Mythic</button>
                    </div>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-white m-0">{{type}}:</p>
                        <div class="d-flex flex-settings p-0">
                            <button type="button" class="btn box-shadow button-border m-1" *ngFor="let equipment of equipmentArray" (click)="equipmentSelected(equipment)" [ngClass]="{'orange-conic-gr': rarity == 'Mythic', 'gold-conic-gr': rarity == 'Legendary', 'purple-conic-gr': rarity == 'Epic'}">
                                <img class="modal-img-size fg-z" src="{{ BASE_IMAGE_PATH + equipment.type + equipment.imgPath }}" alt="armour"  data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ equipment.name }}">
                            </button>
                        </div>

                        <p class="text-white m-0">Jewels:</p>
                        <div class="d-flex flex-settings p-0">
                            <button type="button" class="btn box-shadow button-border m-1" *ngFor="let jewel of jewelsArray" (click)="jewelSelected(jewel)" [ngClass]="{'gold-conic-gr': rarity == 'Mythic' || rarity == 'Legendary', 'purple-conic-gr': rarity == 'Epic'}">
                                <img class="modal-img-size" src="{{ BASE_IMAGE_PATH + jewel.type + jewel.imgPath }}" alt="jewel"  data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ jewel.name }}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>