<div class="viewport-height bg-dark bg-gradient-to-br from-neutral-800 to-neutral-900">
    <div class="container text-white">
        <div class="fg-z">
            <div class="error-numbers text-center text-shadow layeredContent">404</div>
            <h1 class="text-center text-shadow layeredContent2">Page Not Found!</h1>
        </div>

        <div class="d-flex justify-content-center align-items-center mg-z">
            <div class="hero-img hidden-hero-mobile"></div>
        </div>
    </div>
</div>