.build-card {
    border-left: 5px solid;
    height: 60px;
}

.build-card:hover {
    cursor: pointer;
    background-color: #191b1e;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.bg-golden {
    background-color: goldenrod;
}