@media (min-width: 992px) {
    .portfolios-container-lg {
        max-width: 90%;
    }}
    

/* For small screens, stop the perspective effect on the portfolio images */
@media (max-width: 767px) {
    .perspective-wrapper {
        perspective: none !important;
    }
    .rotate-left {
        transform: rotateY(0) !important;
    }
    .rotate-right {
        transform: rotateY(0) !important;
    }
}

@media (max-width: 767px) {
    .responsive-logo
    {
        max-height: 27px !important;
        max-width: auto !important;
    }
}

@media (max-width: 400px) {
    .skills-items-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .col-tiny-12 
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}



h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}

.spacer-h-40 {
    height: 40px;
}

ul.show-bullets{
    margin-left: 20px;
}

.hide-bullets {
    list-style-type: none;
}

.show-bullets {
    list-style-type: circle;
}

.show-bullets li {
    margin-top: 8px;
    margin-bottom: 8px;
}


.columns-two {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.responsive-logo
{
    max-height: 40px;
    max-width: auto;
}

.skills-item {
    margin-bottom: 2rem
}

.skills-item-card {
    padding: 20px;
}




.perspective-wrapper {
    perspective: 5000px;
  }

  .perspective-inner{
    transition: 0.3s;
  }

  .rotate-left {
    transform: rotateY(25deg);
  }

  .rotate-right {
    transform: rotateY(-25deg);
  }
  
  .perspective-wrapper:hover .perspective-inner {
    transform: rotate(0);
  }

  .perspective-inner img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }