<div class="d-flex">
    <div class="b-rounded p-3 m-2" [ngClass]="{'checkered' : checkered }">
        <h5 class="text-white title-underline" [ngStyle]="{'border-color': colour}">{{title}}</h5>
        <p class="text-white">{{description}}</p>
        
        <div class="d-flex aling-items-center">
            <a class="feature-link d-flex" routerLink={{navigationPath}}>Go to {{title}} 
                <span class="material-symbols-outlined p-0">chevron_right</span>
            </a>
        </div>
    </div>
</div>