<div class="viewport-height bg-dark bg-gradient-to-br from-neutral-800 to-neutral-900">

    <!-- Breadcrumb -->
    <div class="fg-colour box-shadow">
        <div class="breadcrumb-wrapper p-1">
            <nav class="ps-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link underline" routerLink={{HOME_PATH}}>Home</a></li>
                    <li class="breadcrumb-item"><a class="link underline" routerLink={{BUILD_PATH}}>Builds and Benchmarks</a></li>
                    <li class="breadcrumb-item active" aria-current="page">424 War of Wonders</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container p-2 mt-5 pb-5">
        <h1 class="text-white fw-bold title-underline" [ngStyle]="{'border-color': ORANGE}">424 War of Wonders Build</h1>
    </div>
</div>