<div class="viewport-height bg-dark bg-gradient-to-br from-neutral-800 to-neutral-900">

    <!-- Breadcrumb -->
    <div class="fg-colour">
        <div class="breadcrumb-wrapper p-1">
            <nav class="ps-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link underline" routerLink={{HOME_PATH}}>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Guides</li>
                </ol>
            </nav>
        </div>
    </div>

    <p class="text-white">Guides Component</p>
</div>