<div class="viewport-height bg-dark bg-gradient-to-br from-neutral-800 to-neutral-900">

    <!-- Breadcrumb -->
    <div class="fg-colour box-shadow">
        <div class="breadcrumb-wrapper p-1">
            <nav class="ps-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link underline" routerLink={{HOME_PATH}}>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container mt-5 pb-5">
        <h1 class="text-white fw-bold">FAQ</h1>
        <p class="text-white">View common questions that other players have asked us. Contact the guild [DIM] in game if you still have questions.</p>

        <app-question *ngFor="let question of questions"
            [question]="question.question"
            [answer]="question.answer" 
            [colour]="question.colour">
        </app-question>
    </div>
</div>