<div class="viewport-height">

    <!-- Breadcrumb -->
    <div class="bg-dark">
        <div class="breadcrumb-wrapper p-1">
            <nav class="ps-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link underline" routerLink={{HOME_PATH}}>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
            </nav>
        </div>
    </div>

    <p>FAQ Component</p>
</div>