/* DEBUG */
/* * { 
    border: 1px solid red;
} */

/* Page Structure Classes */
.viewport-height {
    min-height: calc(100vh - 160px);
}

.breadcrumb-wrapper {
    height: 40px;
}

@media (max-width: 1150px) {
    .hidden-mobile {
      display: none;
    }
}

.show-mobile { 
    display: none;
}

@media only screen
and (max-device-width : 1150px){ 
    .show-mobile {
        display: block;
    }
}

@media (max-width: 1000px) {
    .hidden-hero-mobile {
      display: none;
    }
}

.bg-z {
    z-index: 0;
}

.mg-z {
    z-index: 1;
}

.fg-z {
    z-index: 2;
}

/* Shared Style Classes */
.to-neutral-900 {
    --tw-gradient-to: #171717;
}

.from-neutral-800 {
    --tw-gradient-from: #262626;
    --tw-gradient-to: rgb(38 38 38 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.bg-gradient-to-br {
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}

.font-type {
    font-family: 'proxima-nova', sans-serif;
}

.fg-colour {
    background-color: #111112;
}

.mg-colour {
    background: #191919;
}

.underline {
    position: relative;
}
    .underline::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }

.link {
    text-decoration: none;
    color: white;
    cursor:pointer;
}
    .link:hover {
        color: white;
    }

.b-rounded {
    border-radius: 0.375rem;
}

.b-left-coloured {
    border-style: solid;
    border-left-width: 6px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box-shadow-two {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.text-shadow {
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.button-ease-in {
    padding: 0.3em 1.5em;
    transition: all 0.5s ease;
    background: linear-gradient(to left, #0d6efd 50%, #2e86c1 50%);
    color: white;
    background-size: 200% 100%;
    background-position: right bottom;
}
    .button-ease-in:hover {
        background-position: left bottom;
        color: white;
    }

.purple-conic-gr {
    background: repeating-conic-gradient(  #9768BC 30%,  #7245A4 35%,  #9768BC 45%);
}

.gold-conic-gr {
    background: repeating-conic-gradient(  #D1A500 30%,  #BC8800 35%,  #D1A500 45%);
}

.orange-conic-gr {
    background: repeating-conic-gradient(  #DC6700 30%,  #C04900 35%,  #DC6700 45%);
}

.button-border {
    border: 1px solid black;
}

.title-underline {
    border-bottom: 2px solid;
}

.feature-link {
    color: goldenrod;
    text-decoration: none;
    cursor: pointer;
}
    .feature-link:hover {
        color: white;
    }

.equipmentSize {
    width: 100px;
    height: 100px;
}

.jewelSize {
    width: 33px;
    height: 33px;
}

.text-green {
    color: #3C9E09;
}

.icon-size {
    width: 40px;
    height: 40px;
}

.talent-size {
    width: 100px;
    height: 82px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
}

.icon-size {
    height: 40px;
    width: 40px;
}

@media (max-width: 767px) {
    .expand-on-mobile {
      width: 100% !important;
    }
}

@media (max-width: 767px) {
    .hide-on-mobile {
      display: none !important;
    }
}

.grid-guides {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 5px;
}