/* DEBUG */
/* * { 
    border: 1px solid red;
} */

/* Page Structure Classes */
.viewport-height {
    min-height: calc(100vh - 160px);
}

.breadcrumb-wrapper {
    height: 40px;
}

@media (max-width: 1150px) {
    .hidden-mobile {
      display: none;
    }
}

.show-mobile { 
    display: none;
}

@media only screen
and (max-device-width : 1150px){ 
    .show-mobile {
        display: block;
    }
}

/* Shared Style Classes */
.font-type {
    font-family: 'proxima-nova', sans-serif;
}

.fg-colour {
    background-color: #111112;
}

.mg-colour {
    background: #191919;
}

.underline {
    position: relative;
}
    .underline::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }

.link {
    text-decoration: none;
    color: white;
    cursor:pointer;
}
    .link:hover {
        color: white;
    }

.b-rounded {
    border-radius: 0.375rem;
}

.b-left-coloured {
    border-style: solid;
    border-left-width: 6px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button-ease-in {
    padding: 0.3em 1.5em;
    transition: all 0.5s ease;
    background: linear-gradient(to left, #0d6efd 50%, #2e86c1 50%);
    color: white;
    background-size: 200% 100%;
    background-position: right bottom;
}
    .button-ease-in:hover {
        background-position: left bottom;
        color: white;
    }