.viewport-height {
    min-height: calc(100vh - 160px);
}

.breadcrumb-wrapper {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.underline {
    position: relative;
}
    .underline::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }

.link {
    text-decoration: none;
    color: white;
    cursor:pointer;
}
    .link:hover {
        color: white;
    }